/* Gray Color #9aa0a6*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.Header
{
    overflow: hidden;
    
}

.Header__Element
{
    float: right;
}

.Footer
{
    position: fixed;
    left: 0;
    bottom: 0;
}

.Footer p{
    display: inline;
}

.Main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
    max-height: 95vh ;
    margin: 0 auto;
}

.SearchInput
{
    border: 1px solid black;
    border-radius: 20px;
    width:60%;
    margin: 20px 0;
}
.TextSearch
{
    width: 95%;
    
}

.SearchIcon
{
    position: absolute;
    margin-top: 4px;
    margin-left: 4px;
}